html{
	font-size: 62.5%;
}
.container{
	width: 100%;
	max-width: 750px;
	min-width: 405px;
	background: #efefef;
	/*height: 10000px;*/
	margin: 0 auto;
}
.header{
	height: 4rem;
	line-height: 4rem;
	background: #118cd2;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 1rem;
	/*font-size: 5rem;*/
}
.header>p>img{
	width: 100%;
}
.header>p:nth-child(1){
	width: 30%;
}
.header>p:nth-child(2){
	width: 5%;
}
.banner{
	margin-top: 0.5rem;
}
.banner>.banner_lunbo{
	position: relative;
}
.banner>.banner_lunbo>img{
	width: 100%;
}
/*指示器*/
.indicator{
	display: flex;
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	width: 19.2%;
	height: 1rem;
	line-height: 1rem;
	transform: translate(-50%);
	background: rgba(255,255,255,0.5);
	border-radius: 30px;
	box-sizing: border-box;
	padding-top: 0.25rem;
}
.indicator>li{
	width: 8%;
	height: 0.55rem;
	border-radius: 50%;
	background: #55406f;
	margin-left: 0.52rem;
}
.indicator>li.olActive{
	background-color: #FF0000;
}
/*业务办理的nav部分*/
.business{
	padding: 0px 30px;
	box-sizing: border-box;
	background: #fff;	
}
.business_nav{	
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.business_nav>li{
	text-align: center;	
	width: 20%;
	/*border: 1px solid red;*/
	box-sizing: border-box;
	margin-top: 2rem;
}
.business_nav>li>a>img{
	width: 65%;
}
.business_nav>li>a>p{
	font-size: 1.4rem;
}
/*通告*/
.tongZhi{
	margin: 0px 20px;	
	display: flex;
	/*background: yellow;*/
	height: 3.5rem;
	line-height: 3.5rem;
	margin-top: 1.5rem;
	border-top:1px solid #EFEFEF ;
}
.tongZhi>div:nth-child(1){
	width: 80%;
	font-size: 1.5rem;
}
.tongZhi>div:nth-child(2){
	width: 20%;
	text-align: right;
	font-size: 1.5rem;
	color: #178ed2;
}
/*热门推荐*/
.hot{
	margin-top: 1rem;
	background: #fff;
}
.hot>p{
	height: 4rem;
	line-height: 4rem;
	font-size: 1.5rem;
	box-sizing: border-box;
	padding-left: 2rem;
}
.hot>p>span{
	padding-left: 0.5rem;
}
.hot_ul{
	display: flex;	
}
.hot_ul>li{
	text-align: center;
	flex: 1;
	border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	padding-top: 1rem;
}
.hot_ul>li>img{
	width: 100%;
}
.hot_ul>li>p:nth-child(1){
	font-size: 1.3rem;
}
.hot_ul>li>p:nth-child(2){
	font-size: 1rem;
	color: #666666;
}
.hot_ul>li:nth-last-child(-n+1){
	border-right: none;
}
/*流量*/
.fenTwo{
	display: flex;
	border-bottom: 1px solid #DFDFDF;
}
.fenTwo>p{
	flex: 1;
}
.fenTwo img{
	width: 98%;
}
.hot_ul>li>.fenTwo:nth-last-child(-n+1){
	border: none;
}
.fenTwo>p:nth-child(1){
	/*background: red;*/
	box-sizing: border-box;
	white-space:nowrap;
	/*padding-left:5rem;*/
}
.fenTwo>p:nth-child(1)>span{
	display: block;
	text-align: left;
	font-size: 1.3rem;
	/*background: yellow;*/
	box-sizing: border-box;
	padding-left:1rem;
	
}
.fenTwo>p:nth-child(1)>span:nth-child(2),.fenTwo>p:nth-child(1)>span:nth-child(3){
	font-size: 1rem;
	color: #666666;
}
.hot_ul_liuliang>p{
	text-align: left;
	box-sizing: border-box;
	padding-left: 1.5rem;
}
/*尾部*/
.footer{
	text-align: center;
	padding-bottom: 5rem;
}
/*加载更多*/
.load_more{
	/*background: red;*/
	padding: 0.7rem 0;
}
.load_more>a{
	color: #0084cf;
	font-size: 1.3rem;	
}
/*登录及回到顶部*/
.back_top{
	background: #fff;
	display: flex;
	padding: 1rem 0;
	justify-content: space-between;
}
.back_top>li{
	/*background: greenyellow;*/
	width: 25%;
	font-size: 1.3rem;
}
.back_top>li>a>i{
	font-size: 1.3rem;
}
.back_top>li:nth-child(1){
	text-align: left;
	box-sizing: border-box;
	padding-left: 1.6rem;
}
/*版本*/
.banben{
	width: 70%;
	/*background: pink;*/
	margin: 0 auto;
	display: flex;
	padding-top: 2.5rem;
}
.banben>li{
	flex: 1;
}
.banben>li img{
	width: 50%;
}
.banben>li>a>.banben_icon{
	padding-bottom: 1rem;
	position: relative;
}
.banben>li>a>.banben_icon>span{
	position: absolute;
	top: 2px;
	right: 21px;
	font-size: 2rem;
	color: #ff3333;
}
.banben>li>a>p{
	font-size: 1.1rem;
}
/*尾部的地址部分*/
.index_address{
	font-size: 1.2rem;
	padding-top: 2rem;
	padding-top: 3rem;
	color: #4e4e4e;
}
.hot_ul>li>.fenTwo>p>.phone_pice{
	color: #e30077;
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 1.3rem;
}
.hot_ul>li>.fenTwo>p>.phone_pice>small{
	font-size: 0.5rem;
}
.hot_ul>li>.fenTwo>p>.redKuang{
	text-align: center;
	width: 80%;
	color: #FF3333;
	border: 1px solid #FF3333;
	padding-left: 0;
	margin-left: 1.2rem;
	font-weight: bold;
	font-size: 1rem;
}
