.container{
	width: 100%;
	max-width: 750px;
	min-width: 405px;
	background: #f3f3f3;
	margin: 0 auto;
}
.container img{
	width: 100%;
}
.startFees{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	background: #00a3ff;
	display: flex;
	text-align: center;
	font-size: 1.3rem;
	border-bottom: 1px solid #DFDFDF;
}
.startFees>div:nth-child(2){
	width: 80%;
	
}
.startFees>div:nth-child(2)>a{
	color: #fff;
	/*font-size: 1rem;*/
}
.startFees>div:nth-child(1),.startFees>div:nth-child(3){
	width: 10%;
	/*background:yellow;*/
	text-align: left;	
}
.startFees>div:nth-child(1)>a,.startFees>div:nth-child(3)>a{
	font-size: 2rem;
	color: #fff;	
}
.startFees>div:nth-child(3){
	text-align: right;
	box-sizing: border-box;
	padding-right: 12px;
}
/*选择档位*/
.selectDangwei{
	background: #fff;
	height: 4rem;
	line-height: 4rem;
	box-sizing: border-box;
	padding-left: 1rem;
	font-size: 1.8rem;
	color: #4E4E4E;
	border-bottom: 0.02rem solid #d4d4d4;
}
/*流量*/
.liuLiang{
	border-bottom: 0.02rem solid #d4d4d4;
	position: relative;
}
.liuLiang>ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0px 2rem;
}
.liuLiang>ul>li{
	width: 28%;
	border: 0.05rem solid #ccc;
	border-radius: 0.5rem;
	background: #fff;
	font-size: 1.4rem;
	height: 3rem;
	padding: 1rem 0;
	margin: 1rem 0;
	text-align: center;
}
.liuLiang>ul>li>p:nth-child(1){
	font-weight:bolder ;
}
.liuLiang>ul>li>p:nth-child(2){
	color: #666666;
}
/*指示器*/
.indicator{
	display: flex;
	padding-bottom:1rem ;
}
.indicator>p{
	box-sizing: border-box;
}
.indicator>p:nth-child(1){
	width: 56%;
	/*background: yellow;*/
	position: relative;
}
.indicator>p:nth-child(2){
	width: 44%;
	font-size: 1.4rem;
}
.indicator>p>span{
	display: inline-block;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	position: absolute;
	top: 0.5rem;
}
.indicator>p:nth-child(1)>span:nth-child(1){
	background: #fd7920;
	right: 1.3rem;
}
.indicator>p:nth-child(1)>span:nth-child(2){
	background: #c2c2c2;
	right: 0.2rem;
}
/*套餐包含*/
.taoCan_con{
	display: flex;
	box-sizing: border-box;
	padding: 0 1.5rem;
	background: #fff;
}
.taoCan_con>p{
	flex: 1;
	font-size: 1.7rem;
	height: 4rem;
	line-height: 4rem;
}
.taoCan_con>p:nth-child(2){
	text-align: right;
	color: #008cd7;
}
/*详细说明*/
.tetial_state{
	box-sizing: border-box;
	padding: 0 1.5rem;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 1.5rem;
}
.tetial_title{
	font-size: 1.4rem;
	height: 4rem;
	line-height: 4rem;
	border-bottom: 1px solid #CCCCCC;
}
.tetial_state>.tetial_title:nth-child(4){
	height: auto;
	line-height: 1.6rem;
	font-size: 1.1rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;	
}
.footerThree{
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 1rem 0;
}
.footerThree>a{
	flex: 1;
	border-right: 1px solid #C2C2C2;
	text-align: center;
}
.address{
	text-align: center;
	font-size: 1rem;
	padding-bottom: 2rem;
}
/*立即办理*/
#immediately{
	width: 100%;
	position: fixed;
	bottom: 0px;
	background: rgba(251,166,112,0.8);
	color: #FFF;
	font-size: 1.6rem;
	height: 4rem;
	max-width: 750px;
	min-width: 405px;
	margin: 0 auto;
}